{% extends 'base.html' %}

{% block main %}
<div class="flex-center">
    <div class="container">
        <div>



            <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
            </button>
            <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">Change password</a>
            </button>

            <button class="btn btn-default"><a href="{% url 'blog:my_posts' %}">View my Posts</a>
            </button>

            <button class="btn btn-default"><a href="{% url 'blog:add_post' %}">Add New Post</a>
            </button>


            <div style="margin: 20px">
            <h1>Account Information</h1>
            <p>First Name: {{request.user.username}}</p>
            <p>Last Name: {{request.user.email}}</p>
            </div>





        </div>
    </div>
</div>
  {% endblock main %}
