<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Reset password link has been sent</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Go back</a></h1>
            <h3>Reset password link has been sent</h3>
            <p>
               If you entered correct email account, the link will be sent to your email. You will git it soon.

            </p>
            <p>
               If you have not recived the email, please check the entered email account and the span email.

            </p>
        </div>
    </div>
</div>
</body>
</html>
