{% extends 'base.html' %}

{% block main %}
    <div style="margin: 20px">
    <h2>About Us</h2>
    <hr>
    <p>We are one dedicated team striving to build a Technical IT Supporting Community that helps people all over the world to solve technical IT questions. Users can search for specific IT questions in the community. The system also supports online reference to specific programming languages or technology. Multi-language support will benefit the communication between developers from the world.
</p>
    </div>
{% endblock main %}